/* Copyright 2013, University of Colorado */

/* TODO PhET framework should do this */
/* get rid of left and top margin around scene in browser window */
html, body { padding: 0; margin: 0 }

/* TODO required by Sim.js, should be added via JavaScript */
.scene {
  background: #ffffff;
  position: absolute;
}

/*
 * Custom bootstrap icons.
 * The first part 2 rules are adapted from bootstrap.css.
 * The CSS for the individual icons was provided by "CSS Sprite Generator" at
 * http://spritegen.website-performance.org/, and is specific to the sprite sheet.
 * A complete example is at http://favbulous.com/post/1006/create-custom-icons-for-twitter-bootstrap-easily
 */
[class^="bll-"],
[class*=" bll-"] {
  display: inline-block;
  width: 17px;
  height: 16px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../images/bll-icon-sprites.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}
[class^="bll-"]:last-child,
[class*=" bll-"]:last-child {
  *margin-left: 0;
}
.bll-dropper-icon{ background-position: 0 0; width: 10px; height: 25px; }
.bll-shaker-icon{ background-position: 0 -75px; width: 24px; height: 25px; }