[submodule "contrib/phetcommon"]
	path = contrib/phetcommon
	url = git://github.com/phetsims/phetcommon.git
[submodule "common/phetcommon"]
	path = common/phetcommon
	url = git://github.com/phetsims/phetcommon.git
